.page-container{ 
  margin-left: 0px;
  color: blue;
}

.page-container p{
  color:black;
  font-weight: 700;
  line-height: 2rem;
  font-family: 'ubuntu condensed', sans-serif;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 1%;

}
.page-container p a{
    color:brown;
}
.page-container h1,h2{
  padding-left: 4%;
}
