@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
      format('woff2');
  font-display: swap;
}
#list{
    height: fit-content;
    background-color: #11122b;
    color: #cbcbcb;
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%; 
}
.heading{
   width: 310px;
   border: 4px solid #ee0f0f; 
   display: flex;
   justify-content: center;
   align-items: center;
}
.heading a{
  color: #ee0f0f;
}
.heading a:hover{
  background-color: whitesmoke;
}
#searchbar {
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	width: 50%;
	box-sizing: border-box;
}
#list{
  list-style: none;
}
.hymns a{
  transform: o.5s;
}
.hymns a:hover{
 color: #cea135;
}
.Top-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
}
.Top-wrapper> .download-link h2 a{
  color: aqua;
}
@media (max-width:1023px){
  .#list{
    height: fit-content;
    grid-template-columns: 1fr;
    padding-left: auto;
  }
  .heading{
    width: 100%;
    border-radius: 2%;
  }
  .Top-wrapper{
    flex-direction: column-reverse;
  }
}
@media (max-width:599px) {
  html{font-size: 12px;}
}