#list{
    height: fit-content;
    background-color: #11122b;
    color: #cbcbcb;
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%; 
}
.heading{
   background-color: red;
   width: 310px;
   color: black; 
   border-top-right-radius: 50px;
   border: 2px solid #11122b; 
}
.heading{
  display: flex;
  justify-content: center;
  align-items: center;
}
#searchbar {
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	width: 50%;
	box-sizing: border-box;
}
#list{
  list-style: none;
}
.hymns a{
  transform: o.5s;
}
.hymns a:hover{
 color: #cea135;
}
.Top-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
}
.Top-wrapper> .download-link h2 a{
  color: aqua;
}
@media (max-width:1023px){
  .#list{
    height: fit-content;
    grid-template-columns: 1fr;
    padding-left: auto;
  }
  .heading{
    width: 100%;
    border-radius: 2%;
  }
  .Top-wrapper{
    flex-direction: column-reverse;
  }
}
@media (max-width:599px) {
  html{font-size: 12px;}
}