.Page-Container> .Contact-grid-wrapper{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 100px;
}

.Page-Container> .Contact-grid-wrapper> .Contact-metadata-sidebar-wrapper img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px; 
    margin-left: 10px; 
}

.Page-Container> .Contact-grid-wrapper> .Contact-metadata-sidebar-wrapper> .Company-details-wrapper{
    font-family: "Ubuntu Condensed" , sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: right;
    font-size: 1.2rem;
    transition: 0.5s;
    color: #11122b;
}

.email-address{
    text-align: center;
}

.Page-Container> .Contact-grid-wrapper> .Contact-metadata-sidebar-wrapper> .Company-details-wrapper:hover{
    color: #cea135;
}

.Page-Container> .Contact-grid-wrapper> .Contact-metadata-sidebar-wrapper> .Company-details-wrapper a{
    color: black;
}

.Page-Container> .Contact-grid-wrapper> .Contact-metadata-sidebar-wrapper> .Company-details-wrapper a:hover{
    color: #cea135;
}

.Page-Container> .Contact-grid-wrapper> .Contact-metadata-sidebar-wrapper a img{
    margin-left: 100px;
    margin-bottom: -10px;
}

/* media Queries */
@media (max-width:599px){
    .Page-Container> .Contact-grid-wrapper{
        grid-template-columns: min-content;
        width: 50%;
        padding: 3%;
        margin: 10%;
        text-align: center;
    }

    .Page-Container> .Contact-grid-wrapper form{
        text-align: center;
        padding: 5%;
    }
}

@media (max-width:1023px){

}