.footer> .logo-footer img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.footer { 
    height: 400px;
    background-color: #11122b;
    color: #cbcbcb;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1px;
    font-family:'ubuntu condensed', sans-serif ;
}

.footer> .logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer> .phone-hours-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer> .phone-hours-footer span{
    margin-left: 1opx;
    margin-right: 10px;
    font-size: 1em;
    letter-spacing: 2px;
}

.footer> .phone-hours-footer> .hours{
    color: #cea135;
}

.footer> .links-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer> .social-media-icons-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer> .social-media-icons-wrapper i {
    font-size: 2em;
}

.footer> .copyright-wrapper{
    display: flex;
    justify-content: center;
    color: #858585;
}

.footer> .Other{
    display: flex;
    justify-content: center;
    color: #858585;
    padding-top: 1%;
    padding-bottom: 1%;
}
.footer> .Other a{
    transition: 0.5s;
}
.footer> .Other a:hover{
    color: #cea135;
}

.designers-contact a{
    display: flex;
    justify-content: center;
    color: #858585;
    font-family: 'ubuntu condensed' sans-serif;
    font-size: 1em;
    transition: o.5s;
}

.designers-contact a:hover{
    color: red;
}



/* Media Queries */
@media (max-width:912px){
    .footer{
        height: 100%;
        padding: 5%;   
    }

    .footer> .links-wrapper{
        flex-direction: column;
        gap: 7%;
    }
    .footer> .social-media-icons-wrapper{
        padding: 2%;
    }

    .footer> .copyright-wrapper{
        justify-content: center;
        text-align: center;
        padding: 5%;}
    

    }