.paralax {
    background-image: url(../Pictures/logos/Parallax1Home.webp);
    padding: 100px;
    height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    justify-items: center;
}
.paralax> .paralax-one{
    margin-right: 300px;
}
.paralax> .paralax-one> .Heading-1 {
    width: fit-content;
    border-radius: 2px;
    padding: 1px 20px;
    border: solid #11122b;
    background-color: #cbcbcb;
}
.paralax> .paralax-one> .Heading-1 a{
    color: #11122b;
}
.paralax> .paralax-one> .Heading-2 {
    padding: 1px 20px;
    margin-top: 15px;
    width: fit-content;
    border-radius: 2px;
    border: solid black;
    background-color: red;
}
.paralax> .paralax-one> .Heading-2 a{
    color: black;
}
.paralax> .paralax-one> .Heading-3 {
    background-color: #cea135;
    padding: 1px 20px;
    margin-top: 15px;
    width: fit-content;
    border-radius: 1px;
    border: solid black;
}
.paralax> .paralax-one> .Heading-3 a{
    color: black;
}
.paralax> .paralax-one> .Heading-4 {
    background-color: black;
    color: #cbcbcb;
    padding: 1px 20px;
    margin-top: 15px;
    width: fit-content;
    border-radius: 1px;
    border: solid #cbcbcb;
}
.paralax> .paralax-one>.Heading-5 {
    background-color: #cbcbcb;
    color: red;
    padding: 1px 20px;
    margin-top: 15px;
    width: fit-content;
    border-radius: 2px;
    border:solid #11122b;
}
.paralax> .paralax-one> .Heading-5 a{
    color: #11122b;
}
.paralax> .paralax-one> .Heading-6 {
    background-color: #11122b;
    color: #cbcbcb;
    padding: 1px 20px;
    margin-top: 15px;
    width: fit-content;
    border-radius: 1px;
    border: solid #cbcbcb;
}
.paralax> .paralax-one a:hover{
    letter-spacing: 2px;
}
.Features-structures {
    height: 400px;
    background-image: url(../Pictures/logos/FeaturesPic.webp);
    background-color: #cea135;
    border-top: 10px solid white;
    color: #11122b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'ubuntu condensed', sans-serif;
    box-shadow: inset 0px -26px 79px -8px rgba(0, 0, 0, 0.58);
}
.Features-structures {
    box-shadow: inset 0px -26px 79px -8px rgba(red, green, blue, alpha);
}   
.Features-structures> .Column-wraper{
    display: flex;
    justify-content: space-between;
}
.Features-structures> .Column-wraper> .column{
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid transparent;
    transition: 1s;
}
.Features-structures> .Column-wraper> .column:hover{
    border-bottom: 5px solid #cea135;
}
.Features-structures> .Column-wraper> .column :nth-child(1) {
    font-size: 3em;
}
.Features-structures> .Column-wraper> .column :nth-child(2) {
    transition: 0.5s;
    color: #11122b;
}
.Features-structures> .Column-wraper> .column :nth-child(2):hover {
    letter-spacing: 1px;
    color: #cea135;
}
.Features-structures> .Column-wraper> .column :nth-child(3) {
    letter-spacing: 2px;
}
* {
    box-sizing: border-box;
  }

  @media (max-width:599px) {
    .paralax{
        padding: auto;
        flex-direction: column;
    }

    html{font-size: 12px;}

    .Features-structures{
        height: 100%;
    }

    .Features-structures> .Column-wraper{
        flex-direction: column;
    }
    .Features-structures> .Column-wraper> .column :nth-child(2){
        margin-left: 2rem;
    }
    .paralax{
        height: 100%;
    }  
}