.Different-Hymns> .Hymns-Wrapper{

}

.Header1{
    background-color:red;
    color: black;
    width: 180px;
    padding: 1px 20px;
    height: 100%;
    border-radius: 5px;
    margin-bottom: -2px;
    margin-left: 40px;
}

.Header2{
    background-color:#cea135;
    color: #1122bb;
    width: 170px;
    padding: 1px 20px;
    height: 100%;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: -3px;
    margin-left: 550px;
}

.Header3{
    background-color:#cbcbcb;
    color: #11122b;
    width: 170px;
    padding: 1px 20px;
    height: 100%;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: -3px;
    margin-left: 1089.5px;
    margin-right: -2pxpx;
}

.youtube-access1{
    width:600px;
    height: 315px;
    margin-left: 40px;
}

.youtube-access2{
    width:600px;
    height: 315px;
    margin-left: 350px;
}

.youtube-access3{
    width:600px;
    height: 315px;
    margin-left: 700px;
}

.hymn{
    min-height: 100vh;
    padding: 5%;
    background-image: linear-gradient(rgba(20, 22, 22, 0.253), rgba(6, 6, 24, 0.9)), url(../Pictures/parallax/pexels-krivec-ales-547119.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 0px;
}

.hymn{
    letter-spacing: 1.2px;
    text-align: center;
    font-weight: 700;
    line-height: 1.2; 
    color: #cbcbcb;  
}

.hymn h1 {
  color: rgba(231, 229, 224, 0.644);
  font-weight: bolder;
  box-shadow: 0 15px 20px rgba(22, 22, 22, 0.2);
  border: 3px solid #cea135;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-width: fit-content;
}
.hymn h2 {
    color: #b33259;
    font-size: 45px;
}

.hymn h3{
  color: rgba(231, 229, 224, 0.644);
  font-size: 25px;
  background-color: transparent;
  box-shadow: 0 15px 20px rgba(22, 22, 22, 0.2);
}


.Direction-Changing-Wrapper> a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  .Direction-Changing-Wrapper> a:hover {
    background-color: red;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #04AA6D;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }
  .Hymns-Home{
    color:#cea135 ;
  }

  .chorus{
    font-style: oblique;
    font-weight: bold;
    color: aqua;
  }


/* media Queries */
@media (max-width:912px){
  .hymn{
    width: fit-content;
  }
  .Header1{
    width: 40%;
    margin-left: 0%;
  }
  .youtube-access1{
    width: 100%;
    margin: 0%;
  
  }

  .Header2{
    width: 40%;
    margin-left: 0%;
  }
  .youtube-access2{
    width: 100%;
    margin: 0%;
  }

  .Header3{
    width: 40%;
    margin-left: 0%;
  }
  .youtube-access3{
    width: 100%;
    margin: 0%;
  }
}

  @media (width:1024px){
    .Header3{
      width: 40%;
      margin-left: 0%;
    }
    .youtube-access3{
      width: 600px;
      margin: 0%;
    }
  
}

